#! /bin/bash
# debconf script for libdncommon-bash
#
# see: debconf-devel(7), confmodule(3)

set -e
. /usr/share/debconf/confmodule  # use debconf


# VARIABLES

# Package and addon names
declare pkg="libdncommon-bash"


# MAIN

# check whether to install addon
db_input critical ${pkg}/install-addons || true
db_go || true
