Source: librole-utils-dn-perl
Section: perl
Priority: optional
Maintainer: David Nebauer <david@nebauer.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://metacpan.org/release/Dn-Role-HasDebian

Package: librole-utils-dn-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         dpkg (>= 1.22.4),
         libclipboard-perl (>= 0.28-1),
         libconst-fast-perl (>= 0.014-2),
         libcurses-perl (>= 1.44-1+b1),
         libdata-dumper-simple-perl (>= 0.11-7),
         libdate-simple-perl (>= 3.0300-3+b4),
         libdatetime-perl (>= 2:1.65-1),
         libdatetime-format-mail-perl (>= 0.4030-3),
         libdatetime-timezone-perl (>= 1:2.62-1+2024a),
         libfeature-compat-try-perl (>= 0.05-1),
         libfile-copy-recursive-perl (>= 0.45-4),
         libfile-mimeinfo-perl (>= 0.34-1),
         libfile-util-perl (>= 4.201720-2),
         libfile-which-perl (>= 1.27-2),
         libhtml-parser-perl (>= 3.81-1+b1),
         libimage-magick-perl (>= 8:6.9.12.98+dfsg1-5),
         libio-interactive-perl (>= 1.025-1),
         libio-pager-perl (>= 2.10-1),
         libipc-run-perl (>= 20231003.0-1),
         liblist-someutils-perl (>= 0.59-1),
         libmoo-perl (>= 2.005005-1),
         libnamespace-clean-perl (>= 0.27-2),
         libpath-tiny-perl (>= 0.144-1),
         libscalar-list-utils-perl (>= 1:1.63-1+b2),
         libstrictures-perl (>= 2.000006-1),
         libterm-clui-perl (>= 1.76-1),
         libterm-progressbar-simple-perl (>= 0.03-2),
         libtime-simple-perl (>= 0.06-1),
         libversion-perl (>= 1:0.9930-1+b1),
         perl (>= 5.38.2-3),
         util-linux (>= 2.39.3-6),
         xclip (>= 0.13-4)
Description: utility methods
 A library of personal utility methods.
