Source: libdn-common-perl
Section: perl
Priority: optional
Maintainer: David Nebauer <david@nebauer.org>
Build-Depends: debhelper-compat (= 13),
 libmodule-build-perl,
 perl
Build-Depends-Indep: libconfig-simple-perl,
 libcurses-perl,
 libdata-dumper-simple-perl,
 libdata-structure-util-perl,
 libdata-validate-uri-perl,
 libdate-simple-perl,
 libdatetime-format-mail-perl,
 libdatetime-perl,
 libdatetime-timezone-perl,
 libdesktop-detect-perl,
 libemail-valid-perl,
 libfile-chdir-perl,
 libfile-copy-recursive-perl,
 libfile-find-rule-perl,
 libfile-mimeinfo-perl,
 libfile-util-perl,
 libfile-which-perl,
 libfunction-parameters-perl,
 libhtml-parser-perl,
 libio-pager-perl,
 libipc-run-perl,
 liblist-moreutils-perl,
 liblogger-syslog-perl,
 libmodule-build-tiny-perl,
 libmoo-perl,
 libmoox-handlesvia-perl,
 libnamespace-clean-perl,
 libnet-dbus-perl,
 libproc-processtable-perl,
 libreadonly-perl,
 libstrictures-perl,
 libterm-clui-perl,
 libterm-readkey-perl,
 libtext-pluralize-perl,
 libtime-simple-perl,
 libtype-tiny-perl,
 libtypes-path-tiny-perl,
 libui-dialog-perl
Standards-Version: 4.4.1
Homepage: https://github.com/dnebauer/libdn-common-perl

Package: libdn-common-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 debhelper,
 debian-policy,
 libconfig-simple-perl,
 libcurses-perl,
 libdata-dumper-simple-perl,
 libdata-structure-util-perl,
 libdata-validate-uri-perl,
 libdate-simple-perl,
 libdatetime-format-mail-perl,
 libdatetime-perl,
 libdatetime-timezone-perl,
 libdesktop-detect-perl,
 libemail-valid-perl,
 libfile-chdir-perl,
 libfile-copy-recursive-perl,
 libfile-find-rule-perl,
 libfile-mimeinfo-perl,
 libfile-util-perl,
 libfile-which-perl,
 libfunction-parameters-perl,
 libhtml-parser-perl,
 libio-pager-perl,
 libipc-run-perl,
 liblist-moreutils-perl,
 liblogger-syslog-perl,
 libmoo-perl,
 libmoox-handlesvia-perl,
 libnamespace-clean-perl,
 libnet-dbus-perl,
 libnet-ping-external-perl,
 libproc-processtable-perl,
 libreadonly-perl,
 libstrictures-perl,
 libterm-clui-perl,
 libterm-readkey-perl,
 libtext-pluralize-perl,
 libtime-simple-perl,
 libtype-tiny-perl,
 libtypes-path-tiny-perl,
 libui-dialog-perl,
 perl (>= 5.19.11)
Description: common methods for use by perl scripts
 Provides methods used by Perl scripts. Can be used to create a standalone
 object providing these methods; or as base class for derived module or class.
