Source: libnet-ping-external-perl
Maintainer: David Nebauer <david@>
Section: perl
Priority: optional
Build-Depends: debhelper-compat (= 12)
Build-Depends-Indep: perl
Standards-Version: 4.5.0
Homepage: https://metacpan.org/release/Net-Ping-External
Rules-Requires-Root: no

Package: libnet-ping-external-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends}
Description: Cross-platform Perl interface to "ping" utilities
 Net::Ping::External is a module which interfaces with the "ping" command on
 many systems. It presently provides a single function, ping(), that takes in
 a hostname and (optionally) a timeout and returns true if the host is alive,
 and false otherwise. Unless you have the ability (and willingness) to run
 your scripts as the superuser on your system, this module will probably
 provide more accurate results than Net::Ping will.
